@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/squirrel-fonts/montserrat-light-webfont.eot');
    src: url('../fonts/squirrel-fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squirrel-fonts/montserrat-light-webfont.woff2') format('woff2'),
        url('../fonts/squirrel-fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/squirrel-fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/squirrel-fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squirrel-fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/squirrel-fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/squirrel-fonts/raleway-bold-webfont.eot');
    src: url('../fonts/squirrel-fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squirrel-fonts/raleway-bold-webfont.woff2') format('woff2'),
        url('../fonts/squirrel-fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-extrabold';
    src: url('../fonts/squirrel-fonts/raleway-extrabold-webfont.eot');
    src: url('../fonts/squirrel-fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squirrel-fonts/raleway-extrabold-webfont.woff2') format('woff2'),
        url('../fonts/squirrel-fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/squirrel-fonts/raleway-medium-webfont.eot');
    src: url('../fonts/squirrel-fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squirrel-fonts/raleway-medium-webfont.woff2') format('woff2'),
        url('../fonts/squirrel-fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/squirrel-fonts/raleway-regular-webfont.eot');
    src: url('../fonts/squirrel-fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squirrel-fonts/raleway-regular-webfont.woff2') format('woff2'),
        url('../fonts/squirrel-fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/squirrel-fonts/raleway-semibold-webfont.eot');
    src: url('../fonts/squirrel-fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squirrel-fonts/raleway-semibold-webfont.woff2') format('woff2'),
        url('../fonts/squirrel-fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/squirrel-fonts/roboto-regular-webfont.eot');
    src: url('../fonts/squirrel-fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squirrel-fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/squirrel-fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    min-height: 1024px;
    background-color: gainsboro;
    background-image: url(../img/header-bg.jpg);
    margin: 0;
    padding: 40px 150px 0;
    box-sizing: border-box;
    position: relative;
}

.upside {
    display: flex;
}

.logo {
    display: flex;
    height: 56px;
    margin: 0 0 0 180px;
    padding: 0;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo:hover .logo-img {
    fill: #c7b299;
}

.logo:active .logo-img {
    fill: brown;
}

.logo:hover .logo-txt {
    color: #c7b299;
}

.logo:active .logo-txt {
    color: brown;
}

.logo:focus {
    outline: none;
}

.logo-img {
    fill: #fff;
}

.logo-txt {
    font-family: 'raleway-regular';
    font-size: 34px;
}

.burger-menu,
.burger-menu-input {
    display: none;
}

.navigation {
    width: 540px;
    margin-left: 220px;
    height: 56px;
    line-height: 56px;
    display: flex;
    justify-content: space-between;
}

.logo-nav-links {
    text-decoration: none;
    color: #fff;
    font-family: 'montserrat-regular';
    font-size: 14px;
}

.logo-nav-links:hover {
    color: #c7b299;
}

.logo-nav-links:active {
    color: brown;
}

.bag {
    margin: 0 28px 0 63px;
}

.bag-button,
.search-button {
    width: 24px;
    height: 30px;
    border: none;
    margin: 10px 0 0 0;
    background-color: transparent;
}

.bag-button {
    fill: #fff;
    background-position: center;
}

.search-button {
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
}

.search-button:hover {
    background-image: url(../img/icon-search-hover.svg);
}

.search-button:focus {
    width: 200px;
    transition: width 1s ease-out;
    background-position: right;
    background-image: none;
    color: #fff;
    background-image: url(../img/icon-search-hover.svg);
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: #8f909185;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    padding-right: 15%;
}

.bag-button:hover {
    fill: #c7b299;
}

.bag-button:focus {
    outline: none;
    fill: brown;
}

.middle {
    text-align: center;
    color: #fff;
    font-family: 'raleway-regular';
    position: relative;
}

.left-arrow {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    top: 60px;
}

.right-arrow {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    right: 0px;
    top: 60px;
}

.left-arrow:hover,
.right-arrow:hover {
    border-top: 2px solid #c7b299;
    border-left: 2px solid #c7b299;
}

.left-arrow:active,
.right-arrow:active {
    border-top: 2px solid brown;
    border-left: 2px solid brown;
}

.middle-content {
    margin: 285px 0 0 0;
}

.content-header-one {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 14px 0;
}

.content-header-two {
    font-size: 52px;
    font-weight: 400;
    margin: 0 0 19px 0;
}

.content-txt {
    width: 562px;
    margin: 0 auto 52px;
    font-family: 'montserrat-regular';
    font-size: 16px;
    line-height: 24px;
}

.content-button {
    display: block;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    margin: 0 auto;
    text-decoration: none;
}

.content-button:hover {
    background-color: #bbb;
    box-shadow: inset 0 -3px 0 #ccc;
}

.content-button:active {
    background-color: #fff;
    box-shadow: inset 0 -3px 0 #aaa;
}

.content-button:active .content-button-txt {
    color: #998675;
}

.content-button-txt {
    color: #fff;
    font-family: 'raleway-bold';
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    line-height: 53px;
}

.pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 895px;
    bottom: 42px;
}

.pagination-link {
    display: block;
    content: "";
    border: 2px solid transparent;
    width: 13px;
    height: 13px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 5px;
}

.pagination-link:hover {
    border: 2px solid #d3c1ad;
    background-color: transparent;
}

.pagination-link:active {
    border: 2px solid brown;
    background-color: brown;
}

main {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 0;
}

.features-wrappers {
    width: 267px;
    text-align: center;
    margin: 0 17px;
}

.features-wrappers:after {
    content: "";
    display: block;
    width: 70px;
    margin: 0 auto;
    border-bottom: 3px solid #f1eee9;
}

.features-wrappers:hover .svg-img {
    fill: #c7b299;
}

.features-wrappers:hover .features-heading {
    color: #c7b299;
}

.features-wrappers:hover:after {
    border-bottom: 3px solid #c7b299;
}


.svg-wrapper {
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 29px 0;
}

.svg-img {
    fill: #555;
}

.features-heading {
    color: #555555;
    font-family: 'raleway-medium';
    font-size: 22px;
    margin: 0 0 19px 0;
}

.features-txt {
    color: #8c8c8c;
    font-family: 'montserrat-light';
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 30px 0;
}

.realization {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 83px 345px 0;
    background-color: #fbfaf8;
    box-sizing: border-box;
}

.realization-heading {
    color: #555;
    font-family: 'raleway-semibold';
    font-size: 30px;
    margin: 0 0 24px 0;
}

.realization-txt {
    width: 757px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 auto 122px;
}

.browser-wrapper {
    display: flex;
    position: relative;
    align-items: flex-end;
    height: 482px;
}

.browser-left {
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-left.jpg);
    background-color: #ccc;
    position: absolute;
}

.browser-left:hover {
    position: absolute;
    z-index: 2;
}

.browser-center {
    width: 770px;
    height: 482px;
    background-image: url(../img/browser-center.jpg);
    background-color: #ccc;
    position: absolute;
    left: 230px;
    z-index: 1;
}

.browser-right {
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-right.jpg);
    background-color: #ccc;
    position: absolute;
    right: 0px;
}

.browser-right:hover {
    position: absolute;
    right: 0px;
    z-index: 2;
}

.purchase {
    width: 100%;
    background-color: #f4f5f8;
    display: flex;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    padding: 50px 375px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.multi {
    margin: 0;
    padding: 0;
}

.multi-heading {
    color: #fff;
    font-family: 'raleway-regular';
    font-size: 28px;
    margin: 0 0 8px 0;
}

.waxom-style {
    color: #c7b299;
}

.multi-txt {
    color: #615855;
    font-family: 'montserrat-light';
    font-size: 18px;
    margin: 0;
}

.purchase-button {
    display: block;
    text-decoration: none;
    padding: 20px 28px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
}

.purchase-button:hover {
    background-color: #bbb;
    box-shadow: inset 0 -3px 0 #aaa;
}

.purchase-button:active {
    background-color: #fff;
    box-shadow: inset 0 -3px 0 #ccc;
}

.purchase-button:active .purchase-button-style {
    color: #998675;
}


.purchase-button-style {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
}

.projects {
    width: 100%;
    margin: 0;
    padding: 80px 360px;
    box-sizing: border-box;
}

.projects-heading {
    color: #555;
    font-family: 'raleway-semibold';
    font-size: 30px;
    margin: 0 auto 24px;
    text-align: center;
    padding: 0;
}

.projects-txt {
    width: 757px;
    color: #8c8c8c;
    font-family: 'montserrat-light';
    font-size: 16px;
    line-height: 28px;
    padding: 0;
    text-align: center;
    margin: 0 auto 40px;
}

.buttons-wrapper {
    text-align: center;
    margin: 0 auto 40px;
    padding: 0;
}

.projects-buttons {
    padding: 10px 22px 8px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    color: #8c8c8c;
    font-family: 'motserrat-regular';
    font-size: 14px;
    margin: 0 5px;
}

.projects-buttons:hover {
    background-color: #998675;
    color: #fff;
}

.projects-buttons:active {
    background-color: brown;
    color: #fff;
}

.examples-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 40px;
    padding: 0;
}

.projects-examples {
    display: block;
    text-decoration: none;
    margin: 0 15px 30px;
    position: relative;
}

.project-link,
.project-search {
    position: absolute;
    display: none;
    width: 26px;
    height: 26px;
    top: 45%;
    text-decoration: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.project-link {
    background-image: url(../img/projects-link.svg);
    left: 35%;
}

.project-search {
    background-image: url(../img/projects-lupa.svg);
    right: 35%;
}

.examples-txt {
    min-height: 100px;
    padding: 30px 0 0 28px;
    box-sizing: border-box;
    margin: 0;
    color: #d1d1d1;
    font-family: 'montserrat-light';
    font-size: 14px;
    background-color: #fbfaf8;
    position: relative;
}

.examples-txt:before {
    content: "";
    display: block;
    border: 15px solid #fbfaf8;
    position: absolute;
    transform: rotate(45deg);
    top: -10px;
}

.examples-heading {
    display: block;
    color: #c7b299;
    font-family: 'raleway-regular';
    font-size: 20px;
    margin: 0 0 14px 0;
}

.examples-pic {
    display: block;
}

.projects-examples:hover .examples-pic {
    filter: brightness(30%);
}

.projects-examples:active .examples-pic {
    filter: brightness(40%);
}

.projects-examples:hover .examples-txt {
    background-color: #362f2d;
    color: #c7b299;
}

.projects-examples:active .examples-txt {
    background-color: #c7b299;
    color: #362f2d;
}


.projects-examples:hover .examples-heading {
    color: #fff;
}

.projects-examples:active .examples-heading {
    color: #eee;
}

.projects-examples:hover .examples-txt:before {
    border: 15px solid #362f2d;
}

.projects-examples:active .examples-txt:before {
    border: 15px solid #c7b299;
}

.projects-examples:hover .project-link {
    display: block;
}

.projects-examples:hover .project-search {
    display: block;
}

.projects-examples:hover .project-link:hover {
    display: block;
    background-image: url(../img/projects-link-hover.svg);
}

.projects-examples:hover .project-search:hover {
    display: block;
    background-image: url(../img/projects-lupa-hover.svg);
}

.load {
    display: block;
    margin: 0 auto;
    padding: 19px 44px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #fff;
    font-family: 'raleway-extrabold';
    font-size: 14px;
    text-transform: uppercase;
}

.load:hover {
    background-color: #fff;
    color: #998675;
    box-shadow: inset 0 -3px 0 #ccc;
}

.load:active {
    background-color: brown;
    color: #fff;
    box-shadow: inset 0 -3px 0 brown;
}

.video {
    width: 100%;
    position: relative;
}

.video-presentation {
    min-height: 705px;
}

.video-wrapper {
    position: absolute;
    top: 210px;
    left: 685px;
    text-align: center;
    width: 552px;
    color: #fff;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 100px;
    min-height: 100px;
    margin: 0 auto;
    outline: none;
    border: none;
    z-index: 15;
}

.play-button {
    fill: #fff;
    z-index: 30;
}

.play:hover .play-button {
    fill: #c7b299;
}

.video-header {
    color: #fff;
    font-family: 'raleway-medium';
    font-size: 30px;
}

.video-txt {
    color: #fff;
    font-family: 'montserrat-light';
    font-size: 16px;
    margin: 29px 0 40px;
}

.video-time {
    color: #c7b299;
    font-family: 'montserrat-light';
    font-size: 14px;
}

.iphone {
    width: 100%;
    box-sizing: border-box;
    padding: 79px 0 0 423px;
    display: flex;
}

.iphone-in-hand {
    padding: 0;
    margin: 0 29px 0 0;
}

.iphone-wrapper {
    padding: 116px 0 0 0;
}

.iphone-heading {
    color: #555;
    font-family: 'raleway-semibold';
    font-size: 30px;
    margin: 0 0 40px 2px;
}

.iphone-txt {
    color: #8c8c8c;
    width: 657px;
    font-family: 'montserrat-light';
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 45px 0;
}

.iphone-list {
    list-style-type: none;
    margin: 0 0 0 50px;
}

.iphone-list-items {
    color: #8c8c8c;
    font-family: 'montserrat-light';
    font-size: 16px;
    line-height: 35px;
    position: relative;
}

.iphone-list-items:before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background-color: #c7b299;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: -40px;
}

.iphone-list-items:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    left: -35px;
    border-left: none;
    border-bottom: none;
}

.statistics {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 69px 0 0 0;
    justify-content: center;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
}

.inside-stat > svg {
    fill: #c7b299;
    display: block;
    margin: 0 0 30px 0;
}

.inside-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 60px 0;
    position: relative;
}

.stat-numbers {
    color: #fff;
    font-family: 'montserrat-light';
    font-size: 48px;
    margin: 0 0 21px 0;
    padding: 0 0 0 0;
}

.stat-txt {
    color: #c7b299;
    font-family: 'montserrat-regular';
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
}

.inside-stat:after {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    position: absolute;
    width: 30px;
    bottom: 0px;
}

.posts {
    width: 100%;
    box-sizing: border-box;
    padding: 82px 0 0 0;
    margin: 0;
    text-align: center;
    min-height: 753px;
}

.posts-heading {
    color: #555;
    font-family: 'raleway-semibold';
    font-size: 30px;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
}

.posts-txt {
    width: 757px;
    color: #8c8c8c;
    font-family: 'montserrat-regular';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 auto 40px;
    padding: 0 0 0 0;
}

.posts-wrapper {
    display: flex;
    margin: 0 auto;
    width: 1170px;
    padding: 0;
}

.posts-inside {
    width: 370px;
    margin: 0 15px 0;
    position: relative;
    border: 1px solid #f8f8f8;
}

.posts-inside:before {
    content: "30";
    display: block;
    position: absolute;
    color: #fff;
    font-family: 'montserrat-regular';
    font-size: 24px;
    border: 1px solid #363636;
    border-radius: 3px 3px 0 0;
    width: 50px;
    height: 35px;
    background-color: #363636;
    top: 20px;
    left: 20px;
}

.posts-inside:after {
    content: "Sep.";
    display: block;
    position: absolute;
    color: #fff;
    font-family: 'roboto-regular';
    font-size: 12px;
    border: 1px solid #252525;
    border-radius: 0 0 3px 3px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    background-color: #252525;
    top: 55px;
    left: 20px;
}

.posts-inside-img {
    margin: 0;
    padding: 0;
    width: 370px;
    height: 220px;
}

.posts-inside-heading {
    color: #555;
    font-family: 'raleway-regular';
    font-size: 20px;
    text-align: left;
    padding: 0 0 0 29px;
    margin: 30px 0 19px;
}

.posts-inside-txt {
    color: #8c8c8c;
    font-family: 'montserrat-regular';
    font-size: 14px;
    text-align: left;
    padding: 0 0 0 29px;
    margin: 0 0 27px;
}

.posts-inside-link {
    text-decoration: none;
    display: block;
    text-align: left;
    color: #c7b299;
    font-family: 'montserrat-regular';
    font-size: 14px;
    padding: 0 0 0 30px;
    margin: 0 0 33px;
    position: relative;
}

.posts-inside-link:after {
    content: "";
    display: block;
    position: absolute;
    border: 4px solid transparent;
    top: 7px;
    left: 113px;
    border-left: 4px solid #c7b299;
}

.posts-inside:hover {
    background-color: #362f2d;
}

.posts-inside:active {
    background-color: brown;
}

.posts-inside:hover .posts-inside-img {
    filter: brightness(30%);
}

.posts-inside:active .posts-inside-img {
    filter: brightness(40%);
}

.posts-inside:hover:before {
    background-color: #c7b299;
    border: 1px solid #c7b299;
}

.posts-inside:active:before {
    background-color: brown;
    border: 1px solid brown;
}

.posts-inside:hover:after {
    background-color: #a48d72;
    border: 1px solid #a48d72;
}

.posts-inside:active:after {
    background-color: brown;
    border: 1px solid brown;
}

.posts-inside:hover .posts-inside-heading {
    color: #c7b299;
}

.posts-inside:hover .posts-inside-txt {
    color: #fff;
}

.posts-buttons {
    margin: 40px 0 80px;
}

.posts-left-arrow,
.posts-right-arrow {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #d1d1d1;
    margin: 0 4px;
    position: relative;
}

.posts-left-arrow:after {
    content: "";
    display: block;
    position: absolute;
    border-top: 2px solid #d1d1d1;
    border-right: 2px solid #d1d1d1;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    top: 5px;
    left: 4px;
}

.posts-right-arrow:after {
    content: "";
    display: block;
    position: absolute;
    border-top: 2px solid #d1d1d1;
    border-right: 2px solid #d1d1d1;
    width: 5px;
    height: 5px;
    transform: rotate(225deg);
    top: 5px;
    right: 4px;
}

.posts-left-arrow:hover,
.posts-right-arrow:hover {
    border: 2px solid #c7b299;
}

.posts-left-arrow:active,
.posts-right-arrow:active {
    border: 2px solid brown;
    outline: none;
}

.posts-left-arrow:hover:after,
.posts-right-arrow:hover:after {
    border-top: 2px solid #c7b299;
    border-right: 2px solid #c7b299;
}

.posts-left-arrow:active:after,
.posts-right-arrow:active:after {
    border-top: 2px solid brown;
    border-right: 2px solid brown;
}

.posts-left-arrow:focus,
.posts-right-arrow:focus {
    outline: none;
}

.labels {
    width: 100%;
    background-image: url(../img/mountains-bg.jpg);
    min-height: 489px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels-wrapper {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.labels-logo {
    transition: transform 0.25s linear;
    outline: none;
}

.labels-logo:hover {
    transform: scale(1.5);
}

.main-footer {
    width: 100%;
    background-color: #191919;
    display: flex;
    padding: 80px 0 0 375px;
    box-sizing: border-box;
}

.columns {
    width: 270px;
    margin: 0 20px;
    padding: 0;
}

.logo-footer {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 0 29px 0;
}

.logo-footer:hover .logo-img {
    fill: #c7b299;
}

.logo-footer:hover .logo-footer-txt {
    color: #c7b299;
}

.logo-footer:active .logo-img {
    fill: brown;
}

.logo-footer:active .logo-footer-txt {
    color: brown;
}

.logo-footer-txt {
    font-family: 'raleway-regular';
    font-size: 34px;
    color: #fff;
}

.first-column-txt {
    color: #555;
    font-family: 'montserrat-regular';
    font-size: 14px;
    line-height: 24px;
}

.first-column-span {
    color: #d1d1d1;
    font-family: 'montserrat-regular';
    font-size: 14px;
    position: relative;
    text-decoration: none;
}

.first-column-span:after {
    content: "";
    display: block;
    position: absolute;
    border: 4px solid transparent;
    top: 8px;
    left: 85px;
    border-left: 4px solid #d1d1d1;
}

.first-column-span:hover {
    color: #c7b299;
}

.first-column-span:active {
    color: brown;
}

.first-column-span:hover:after {
    border-left: 4px solid #c7b299;
}

.first-column-span:active:after {
    border-left: 4px solid brown;
}

.columns-posts {
    color: #fff;
    font-family: 'raleway-semibold';
    font-size: 24px;
    margin: 0 0 29px 0;
    padding: 18px 0 0 0;
    box-sizing: border-box;
    height: 56px;
}

.posts-article-txt {
    color: #555;
    font-family: 'montserrat-regular';
    font-size: 14px;
    margin: 0 0 0px 0;
}

.posts-articles-time-up,
.posts-articles-time-down {
    display: block;
    color: #363636;
    font-family: 'montserrat-regular';
    font-size: 12px;
    margin: 0 0 0 0;
}

.posts-articles-time-up {
    margin: 0 0 10px 0;
}

.posts-articles-time-down {
    margin: 10px 0 0 0;
}

.posts-articles {
    margin: 0 0 40px 0;
}

.posts-articles:hover .posts-articles-time-down {
    color: #fff;
}

.posts-articles:hover .posts-articles-time-up {
    color: #fff;
}

.posts-articles:hover .posts-article-txt {
    color: #c7b299;
}

.posts-articles:hover .twitter-style {
    color: royalblue;
}

.article-with-lines {
    position: relative;
}

.article-with-lines:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #252525;
    position: absolute;
    bottom: -16px;
}

.article-with-lines:before {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #252525;
    position: absolute;
    top: -15px;
}

.widget-links-wrapper {
    display: flex;
    min-height: 212px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}

.widget-links {
    display: block;
}

.widget-links:hover {
    filter: brightness(30%);
}

.widget-links:active {
    filter: brightness(10%);
}

.twitter-style {
    color: #00bff3;
}

.the-end {
    width: 100%;
    min-height: 111px;
    background-color: #111;
}

.the-end-wrapper {
    width: 1170px;
    min-height: 111px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin: 0;
}

.the-end-left,
.the-end-right {
    display: flex;
    font-family: 'montserrat-regular';
    font-size: 13px;
    color: #555;
}

.go-top {
    text-decoration: none;
    color: #959595;
    margin-right: 10px;
}

.go-top:hover {
    color: #c7b299;
}

.go-top:active {
    color: brown;
}

.the-end-links {
    text-decoration: none;
    color: #555;
    padding: 0 10px;
    position: relative;
    display: block;
}

.the-end-links:hover {
    color: #c7b299;
}

.the-end-links:active {
    color: brown;
}

.the-end-links:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #252525;
    height: 13px;
    top: 3px;
    left: -1px;
}

.footer-inside-txt {
    color: #959595;
}

.right-first {
    margin-right: 20px;
}

.right-second {
    position: relative;
}

.right-second:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #252525;
    height: 13px;
    top: 3px;
    left: -10px;
}

@media (max-width: 578px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: none;
    }

    header {
        width: 100%;
        padding: 0;
        margin: 0;
        min-height: 0px;
        background-size: cover;
    }

    main {
        width: 100%;
    }

    .upside {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo {
        margin: 0;
        padding: 2%;
    }

    .burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 10px;
        margin: 0 2%;
    }

    .burger-menu-span {
        display: block;
        border-bottom: 3px solid #fff;
        width: 30px;
        position: relative;
    }

    .burger-menu-span:before {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        left: 0;
        width: 30px;
        border-bottom: 3px solid #fff;
    }

    .burger-menu-span:after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 30px;
        border-bottom: 3px solid #fff;
    }

    .navigation {
        width: 100%;
        flex-direction: column;
        margin: 0;
        height: auto;
        display: none;
    }

    .logo-nav-links {
        text-align: center;
        width: 95%;
        margin: 5px auto;
        line-height: 35px;
        border-radius: 10px;
        background-color: #35353565;
    }

    .burger-menu-input:checked ~ .navigation {
        display: flex;
    }

    .bag {
        display: none;
        margin: 5px;
    }

    .burger-menu-input:checked ~ .bag {
        display: block;
    }

    .search {
        display: none;
        margin: 5px;
    }

    .burger-menu-input:checked ~ .search {
        display: block;
    }

    .burger-menu-input:checked + .burger-menu {
        border-radius: 50%;
    }

    .burger-menu-input:checked ~ .burger-menu > .burger-menu-span {
        border-bottom: none;
    }

    .burger-menu-input:checked ~ .burger-menu > .burger-menu-span:before {
        transform: rotate(45deg);
        top: -2px;
    }

    .burger-menu-input:checked ~ .burger-menu > .burger-menu-span:after {
        transform: rotate(-45deg);
        top: -2px;
    }

    .middle {
        display: none;
    }

    .pagination {
        display: none;
    }

    .features {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .features-wrappers {
        margin: 0 0 0 0;
        padding: 1%;
        width: 48%;
    }

    .purchase {
        display: none;
    }

    .projects {
        padding: 2%;
        background-color: #f8f8ff;
    }

    .projects-txt {
        width: 98%;
    }

    .projects-buttons {
        margin: 0 0 5px 0;
    }

    .examples-wrapper {
        justify-content: center;
    }

    .realization {
        display: none;
    }

    .video {
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        position: relative;
    }

    .video-wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 18px;
        left: 0;
    }

    .video-header {
        display: none;
    }

    .video-txt {
        display: none;
    }

    .video-presentation {
        width: 100%;
        min-height: 0;
        height: 193px;
    }

    .iphone {
        width: 100%;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .iphone-in-hand {
        margin: 0 0 10px 0;
        width: 100%;

    }

    .iphone-wrapper {
        width: 100%;
        padding: 0;
    }

    .iphone-heading {
        width: 100%;
        text-align: center;
        margin: 0 0 20px;
    }

    .iphone-txt {
        width: 100%;
        text-align: center;
        margin: 0 0 20px;
    }

    .iphone-list-items {
        line-height: 25px;
    }

    .statistics {
        width: 100%;
        padding: 2%;
        flex-wrap: wrap;
    }

    .inside-stat {
        margin: 0 10px 20px;
    }

    .inside-stat:after {
        display: none;
    }

    .inside-stat > svg {
        margin: 0 0 0 0;
    }

    .stat-numbers {
        margin: 0;
    }

    .stat-txt {
        margin: 0;
    }

    .posts {
        width: 100%;
        padding: 2%;
        min-height: 0;
    }

    .posts-txt {
        width: 100%;
        margin: 0 0 10px;
    }

    .posts-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts-buttons {
        margin: 0 0 0 0;
    }

    .labels {
        padding: 2%;
        min-height: 0;
        box-sizing: border-box;
        background-size: cover;
    }

    .labels-wrapper {
        justify-content: space-around;
    }

    .labels-logo {
        width: 140px;
        margin: 5px;
    }

    .labels-logo:hover {
        transform: none;
    }

    .logo-1 {
        height: 80px;
    }

    .logo-2 {
        height: 150px;
    }

    .logo-3 {
        height: 70px;
    }

    .logo-4 {
        height: 94px;
    }

    .main-footer {
        display: none;
    }

    .the-end {
        padding: 2%;
        min-height: 0;
        box-sizing: border-box;
    }

    .the-end-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        min-height: 0;
    }

    .right-first,
    .right-second {
        margin: 10px 0 0 0;
    }

    .right-first {
        margin-right: 20px;
    }
}
